## Бейзлайн для соревнования по RecSys

В этом ноутбуке показано, как сделать простое решение для соревнования по рекомендациям. Нам нужно считать данные по интеракциям, посчитать популярность айтемов, и сформировать сабмит из рекомеднаций популярных объейтов для каждого тестового пользователя

Считаем файл с интеракциями

In [13]:
import pandas as pd
import numpy as np

In [14]:
pd.__version__

'1.1.4'

In [15]:
df = pd.read_csv('data_train.csv')
df.head()

   user_id  item_id  timestamp
0        0        0          2
1        0        1          2
2        0        2          2
3        0        3          2
4        0        4          2

посчитаем, сколько раз каждый item_id был куплен

In [16]:
popularity = df.item_id.value_counts().reset_index()
popularity.rename({'index':'item_id','item_id':'popularity'}, axis=1, inplace=True)
popularity = popularity[:20].copy()
popularity.head()

   item_id  popularity
0        9       10250
1      156        8874
2       17        8276
3      475        7790
4       51        7548

теперь считаем пользователей, по которым нам нужно сделать предсказания

In [17]:
test_users = pd.read_csv('test_users.csv')
test_users.head()

   user_id
0        0
1        1
2        3
3        4
4        5

сделаем cross join user/top20 items

In [18]:
test_users['temp'] = 1
popularity['temp'] = 1

submission = test_users.merge(popularity)
submission.drop(['temp'], axis=1, inplace=True)
submission.head()

   user_id  item_id  popularity
0        0        9       10250
1        0      156        8874
2        0       17        8276
3        0      475        7790
4        0       51        7548

Мы получили почти готовый сабмит на каггл, осталось только удалить колонку с популярностью

In [19]:
submission.drop(['popularity'], axis=1, inplace=True)
submission.head()

   user_id  item_id
0        0        9
1        0      156
2        0       17
3        0      475
4        0       51

In [20]:
submission.to_csv('baseline.csv', index=None)

Этот файл можно отправлять на каггл, однако очевидно, что он даст маленький скор. Чтобы его хоть немного улучшить, стоит удалить из рекомендаций те айтемы у пользователя, с которыми он уже взаимодействовал - но все также рекомендовать каждому человеку по 20 товаров. Участникам предлагается это сделать самостоятельно